:root {
  --actient-color-: #4d5ae5;
  --title-color: #2e2f42;
  --main-color-text: #434455;
  --white-color: #ffffff;
  --hover-color: #404bbf;
  --footer-color-logo: #f4f4fd;
  --footer-color-text: #e7e9fc;
  --background-color-section: #f4f4fd;
  --portfolio-background-color: #e5e5e5;
  --customer-icons-color: #8e8f99;
  --footer-soc-icons: #31d0aa;
  --modal-color: #FCFCFC;
}

  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1200px;
    }
  }

/* header */
@media screen and (max-width: 767px) {
  .header-list,
.contacts-list {
  display: none;
}
}

.header-container {
    display: flex;
  
    background-color: var(--white-color);
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    .header-list {
        display: flex;
      }
    
      .menu-open-btn {
        display: none;
      }
      .header-list-item:not(:last-child) {
        margin-right: 40px;
      }
  }

  @media screen and (min-width: 1158px) {
    .contacts-list {
      display: flex;
    }
  }
  
  
  .header-list-item {
  }

  

/* logo */
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--actient-color-);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .header-logo.second-color-logo {
    color: var(--title-color);
  }
  .logo {
    margin-right: 76px;
    
  }
  @media screen and (max-width: 767px) {
    .logo {
      margin-top: 24px;
    margin-bottom: 22px;
    }
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

/* Navigation */
.nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    
  }
  
  .current::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      left: 0;
      bottom: -1px;
      display: block;
      background-color: var(--hover-color);
      border-radius: 2px;
      animation-name: currentanimation;
      animation-duration: 250ms;
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      animation-delay: 0;
      
  }
  
  @keyframes currentanimation {
    0% {
      transform: scaleX(0);
    }
  
    100% {
      transform: scaleX(1);
      }
  }
  
  
  .current {
    color: var(--hover-color);
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: var(--hover-color);
  }
  /* Contacts */
  .contacts {
    font-style: normal;
    margin-left: auto;
  }
  .contacts-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--hover-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    .contacts-link {
      padding: 0;
      margin-top: 12px;
    }
  }
  /* hero */ 
@media screen and (min-width: 768px) {
    .hero {
        margin-bottom: 48px;
        margin-right: auto;
        margin-left: auto;
        width: 496px;
      
        color: var(--white-color);
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
      }

}
  @media screen and (min-width: 768px) {
    .hero-section {
        text-align: center;
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/Dark-bg-tab.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
      }
  }
  @media screen and (min-width: 768px),
   (min-device-pixel-ratio: 2),
   (-webkit-min-device-pixel-ratio: 2),
   (-o-min-device-pixel-ratio: 2/1),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tab@2x.jpg);
    }
    
  }
  @media screen and (min-width: 1158px) {
    .hero-section {
        
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/Dark-bg-des@2x.jpg);
        
      }
  }

  @media screen and (min-width: 1158px),
   (min-device-pixel-ratio: 2),
   (-webkit-min-device-pixel-ratio: 2),
   (-o-min-device-pixel-ratio: 2/1),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-des@2x.jpg);
    }
    
  }

  /* features */
  @media screen and (min-width: 1158px) {
    .features-title {
      margin-bottom: 8px;
    
      color: var(--title-color);
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }
  }


  @media screen and (max-width: 1157px) {
    .features-icons-container {
      display: none;
    }
    .features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  color: var(--title-color);
  letter-spacing: 0.02em;
  text-transform: capitalize;

    }
    .features-text {
      font-weight: 500;
    }
  }
  
  @media screen and (max-width: 767px) {
    .features-title {
      text-align: center;
    }
    .features-list-item:not(:last-child) {
      margin-bottom: 72px;
    } 
  }

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    .features-list {
      flex-wrap: wrap;
      row-gap: 72px;
      column-gap: 2px;
    }
    .features-list-item {
      max-width: 344px;
    }
  }
  @media screen and (min-width: 768px) {
    .features-list {
      display: flex;
    }
  }


  @media screen and (min-width: 1158px) {
    .features-list-item {
      width: calc((100%-72px) / 4);
    }
  }

  /* what are we doing */

  @media screen and (max-width: 1157px) {
    .what-are-section {
      display: none;
    }
  }


  /* Our Team */
  @media screen and (min-width: 768px) and (max-width: 1157px) {
    .our-team-list {
      flex-wrap: wrap;
      gap: 24px;
      justify-content: center;
    }


  }

  @media screen and (min-width: 768px) {
    .our-team-list {
      display: flex;
      
      
    }
    .our-team-list-item:not(:last-child) {
      
    }
  }
  @media screen and (max-width: 767px) {
    .card-icons-list {
      justify-content: center;
    }
  }

  


  @media screen and (min-width: 1158px) {
    .our-team-list {
      display: flex;
    }
    .our-team-list-item:not(:last-child) {
      margin-right: 24px;
    }
  }
  /* customers */
  @media screen and (max-width: 1157px) {
    .customers-icons-list {
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 72px;
    }
  }
  @media screen and (max-width: 767px) {
    .customers-icons-item {
      width: calc((100% - 24px) / 2);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    .customers-icons-item {
      width: calc((100% - 48px) / 3);
    }
    .customers-box {
      max-width: 552px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media screen and (min-width: 1158px) {
    .customers-icons-item {
      width: calc((100% - 120px) / 6);
    }
    
    .customers-icons-item:not(:last-child) {
      margin-right: 24px;
    }
  }

  /* footer */

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-soc-container {
     margin-left: 24px;
    } 
    .footer-form-container {
      margin-top: 72px;
    }
    .footer-container {
      padding-left: 108px;
    }
  }

  @media screen and (min-width: 768px) {
    .footer-container {
      display: flex;
      flex-wrap: wrap;
    }
    .footer-form-text {
      display: flex;
      align-items: flex-end;
      margin-top: 16px;
     }

     .footer-input {
      width: 264px;
     }
  }

  @media screen and (max-width: 767px) {
    .footer-form-pg,
    .footer-soc-title,
    .footer-text-container {
      
      text-align: center;
    }

    .footer-text-container {
      margin-left: auto;
      margin-right: auto;
    }
    
    .footer-button {
      margin-top: 16px;
      margin-left: auto;
      margin-right: auto;
    }

    .footer-soc-container {
      margin-left: auto;
      margin-right: auto;
      margin-top: 72px;
      margin-bottom: 72px;
    }
    .footer-label {
      display: flex;
      justify-content: center;
      
    }
    
  }

  @media screen and (min-width: 1158px) {
    .footer-text-container {
      max-width: 264px;
      margin-right: 120px;
    }
    .footer-soc-container {
      margin-right: 80px;
    }
  }